/.bashrc
/.cache
/.config
/.gitconfig
/.idea
/.ipython
/.java
/.lightningignore
/.nv
/.vimrc
/.vscode
/.zcompdump
/.zshrc
/main.py
/.condarc
/.cursor-server
/.docker
/.hushlogin
/.jupyter
/.local
/.nvm
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.windsurf-server